@charset "UTF-8";
body {
    color: black;
    background-color: white;
}
.item {
    background: #0bd;
    color: #fff;
    padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
}